<% provide(:title, 'About') %>
<h1>About Canal St. Integers</h1>
<h2>What's this?</h2>
<p>TODO: Description here!</p>
<p>Inspired by and with love to Brooklyn Integers.</p>

<h2>Are your integers unique?</h2>
By it's very nature, fashion is about being on the cutting edge without being truly (in the mathematical sense) unique.  Thus, Canal St. Integers have been used before, in fact, that's the very point! — we even provide every integer with a certificate of authenticity so you can see its provenance.

<h2>Other fine integer providers</h2>
We recognize not everyone wants famous name-brand integers.
If instead you seek hand-crafted artisinal integers (in which case, go wax your moustache and update your Etsy storefront, hipster!), we recommend the following providers:
<ul>
  <li><a href="http://www.brooklynintegers.com">Brooklyn Integers</a></li>
  <li><a href="http://missionintegers.com">Mission Integers</a></li>
  <li><a href="http://londonintegers.com">London Integers</a></li>
<ul>