body {
  background-image: url('lv-pattern.png');
  background-repeat: repeat;
}

#container {
  width: 820px;
  margin: 32px auto 0 auto;
  padding: 10px;
  background-color: #ffe;
  border: 2px gold solid;
}

#notice {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: -10px -10px 0 -10px;
}

.integer {
  // color: darken(brown, 25%);
  font-size: 3em;
}
.intdisp {
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 30px;
}

/* some stuff from scaffolding below here */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}


